<html>
  <head>
    <title>Error!</title>
  </head>
  <body>
    <h2>Invalid birthday entered!</h2>
    <h3>Please try again</h3>
    <form action="/">
      <input type="submit" value='Back'>
    </form>
  </body>
</html>