<html>
  <head>
    <title>Birthday!</title>
  </head>
  <body>
    <h1>Hello there!</h1> <br>
    <form action="/answer" method='post'>
      <label for="name"> <h2> What is your name? </h2></label> <br>
      <input type="text" name='name'> <br> <br>
      <h2> When is your birthday? </h2> <br>
      <label for="day"> day: </label>
      <input type="number" name='day' min='1' max='31'>
      <label for="month"> month: </label>
      <select name="month" id="month">
        <option value="01"> January </option>
        <option value="02"> February </option>
        <option value="03"> March </option>
        <option value="04"> April </option>
        <option value="05"> May </option>
        <option value="06"> June </option>
        <option value="07"> July </option>
        <option value="08"> August </option>
        <option value="09"> September </option>
        <option value="10"> October </option>
        <option value="11"> November </option>
        <option value="11"> December </option>
      </select> <br> <br>
      <input type="submit" value='Go!'>
    </form>
  </body>
</html>

<%# Variable days for months %>