<html>
  <head>
    <title> Happy Birthday! </title>
  </head>
  <body>
    <p>
      <h1> Happy Birthday <%= @name %>! </h1>
    </p>
      <form action="/">
        <input type="submit" name='Return to home page' >
      </form>
  </body>
</html>