<html>
  <head>
    <title> Happy Birthday! </title>
    <style>
      body {
        background-color: rgb(179, 252, 251);
        text-align: center;
          }
    </style>
  </head>
  <body>
    <br><br><br><br><br><br>
    <p>
      <h1> Happy Birthday <%= @name %>! </h1>
    </p>
      <form action="/">
        <input type="submit" value='Return to home page' >
      </form>
    <br><br>
    <img src="https://icons-for-free.com/iconfiles/png/512/flat+version+svg+birthday+cake-1319964486540046111.png" width='200'>
  </body>
</html>